
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: tungsten;
  src: url(/public/assets/fonts/tungsten.ttf);
}

@font-face {
  font-family: valorant;
  src: url(/public/assets/fonts/valorant.ttf);
}

@font-face {
  font-family: dinnext;
  src: url(/public/assets/fonts/dinnext.ttf);
}

@font-face {
  font-family: ffmark;
  src: url(/public/assets/fonts/markpro.otf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ece8e1;
}